<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
  
  <!-- Use the URL http://hostName/appName/test2 for
       testPackage.TestServlet -->
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>    
  <servlet>
    <servlet-name>listAutoServlet</servlet-name>
    <servlet-class>servlet.listAutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAutoServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>